<!DOCTYPE html>
<html>
<head>
    <title><%= parrot.name %></title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1><%= parrot.name %></h1>
    <img src="<%= parrot.image %>" alt="<%= parrot.name %>">
    <p><%= parrot.description %></p>
    <a href="/">Back to List</a>
</body>
</html>
